/*main*/

body {
    font-family: monospace;
    justify-content: space-between;
    height:100vh;
    width:100vw;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

/*header*/
.header {
    background-color: #ffd966ff;
    color: #666666;
    margin-top:-40px;
}

h1 {
    display:flex;
    justify-content: center;
    font-family: "Blox (BRK)";
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 60px;
    /*color: #666666;*/ 
    animation: blinker 2.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; };
    from { color: #666666; }
    to { color:  #eb6060ff; }
}

/*instructions*/

#instructions {
    display:flex;
    flex-direction: column;
    background-color: #ffe599ff;
    margin-top:-48px;
    align-items: center;
    font-family: pxlxxl, 'Courier New', Courier, monospace;
    font-size:25px;
    letter-spacing: .8px;
    color: #666666;
}
#btns {
    display:flex;
    justify-content: center;
    padding: 0px 30px 50px 30px; 
    margin-top:-30px;
    gap: 20px;
    background-color: #ffe599ff;
}

img.choice {
    width: 90px;
    height: auto;
}

img.choice:hover {
    transform: scale(1.2);
}

/*choice*/

#choice {
    display:flex;
    justify-content: center;
    background-color: #ffe599ff;
}

#player,
#comp {
    height: 150px;
    width: 150px;
    margin-top:-35px;
    display: flex;
    flex-shrink: 1;
}

.choice-header {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:800px;
    font-family: pxlxxl, 'Courier New', Courier, monospace;
    font-size:25px;
    color: #666666;
    letter-spacing:.8px;
}

#player-container, 
#comp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:320px;
    width: 500px;
    gap:10px;
    background-image: url("./photos/chalkboard1.png");
    background-size: 97%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -5px;
}

#player-result,
#comp-result {
    font-family: pxlxxl, 'Courier New', Courier, monospace;
    font-size:25px;
    color: #ffffff;
    letter-spacing:.8px;
    height: 40px;
    margin-bottom: -40px;
}

h3 {
    font-family: pxlxxl, 'Courier New', Courier, monospace;
    font-size:30px;
    color: #6d9eebff;
    letter-spacing:.8px;
}

img {
    width: 150px;
    height: auto;
}

/*box*/

.box {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffe599ff;
}

/*restart-box*/

.restart-box {
    display:flex;
    justify-content: center;
    background-color: #ffe599ff;
    padding: 10px 10px 40px 10px;
    margin-top: -10px;
}

#restart {
    padding: 10px;
    font-family: pxlxxl, 'Courier New', Courier, monospace;
    font-size: 20px;
    letter-spacing: .8px;
    font-weight:100;
    background-color:#eb6060ff;
    color: #444444;
    border: 0px;
    box-shadow: 2px 2px 2px #666666;
}

button:hover {
    transform: scale(1.1);
}

/*footer*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:#ffd966ff;
    color: #666666;
}

img.icon {
    height: 13px;
    width: auto;
}